body{
    background-color: red;
    height: 600px;
    width: 600px;
}
@media screen and (min-width:576px) {
 body{
    background-color: green;
    font-size: xx-large;
 }   
}
@media screen and (min-width:776px) {
 body{
    background-color: blue;
  font-style: italic;
 }   
}
@media screen and (min-width:1024px) {
 body{
    background-color: greenyellow;
    font-size: x-large;
      font-family: Arial;
 }   
}
