body {
    height: 100vh;
    width: 100vw;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width:768px) and (max-width:992px) {
    body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:992px) and (max-width:1024px) {
    body {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width:1024px) and (max-width:1924px) {
    body {
        grid-template-columns: repeat(4, 1fr);
    }
}