@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);
*{
    margin: 0;
    padding: 0;
}
.container{
display: flex;

justify-content: space-between;
background-image: linear-gradient(red,green);

color: white;
padding: 20px;
}

.list-items{
    display: flex;
    list-style: none;
}
.list-items li{
    padding-right: 20px;
}
.heading{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}
.p{
     text-align: center;
     padding-left: 100px;
     padding-right: 100px;
        margin-top: 20px;
}
.button{
    background-color: blue;
    border:  blue;
    margin: 0 auto;
    padding-left: 100px;
    text-align: center;
    padding-right: 100px;
    border-radius: 10px;
       margin-top: 20px;
       margin-right: 50px;
       color: white;

}
.features{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}
i{
    size: 500000000000rem;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 50px;
    
}
.car{
    border: 10px solid wheat;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
   
}
